{% extends 'base.html' %}
        {% block content %}
            <br>

            <table style="width:100%">
                <colgroup>
                    <col span="1" style="width: 15%;">
                    <col span="1" style="width: 15%;">
                    <col span="1" style="width: 15%;">
                    <col span="1" style="width: 15%;">
                    <col span="1" style="width: 15%;">
                    <col span="1" style="width: 15%;">
                </colgroup>

                  <tr>
                      <th>EB Name</th>
                      <th>Period</th>
                      <th>Epoch</th>
                      <th>mag</th>
                      <th>Hours vis.</th>
                      <th>Details</th>
                  </tr>

            {% for star in stars %}
                  <tr>
                      <td style="text-align:center">{{ star['Name'] }}</td>
                      <td style="text-align:center">{{ star["Period"] }}</td>
                      <td style="text-align:center">{{ star["Epoch"] }}</td>
                      <td style="text-align:center">{{ star["Mag"] }}</td>
                      <td style="text-align:center"> {{ star["Dur"] }} </td>
                      <td style="text-align:center">
                          <a href="{{ url_for('details', star=star) }}"> Details </a></td>
                  </tr>
            {% else %}
                <li>user_list is empty</li>
            {% endfor %}
                </table>
        {% endblock %}