{% extends 'base.html' %}
{% block content %}
<div style="display: flex; justify-content: center; align-items: center;">
    <!-- Таблиця проходжень супутників -->
    <div class="sat_pass_table" role="region" tabindex="0" style="display: flex; justify-content: center; align-items: center;">
        <table id="sat_passes" style="table-layout: auto;">
            <caption>
                <h3> Satellite Passes for <b>{{ site['name'] }}</b> (Lat:{{ site['lat']}}, Lon: {{site['lon']}}) <br>Date: {{ date_start }}</h3>
            </caption>
            <thead>
                <tr>
                    <th style="text-align:center;">Name</th>
                    <th style="text-align:center;">NORAD</th>
                    <th style="text-align:center;" title="Date of RSO Pass">T_Date</th>
                    <th style="text-align:center;" title="Time of RSO Pass Start">T_start</th>
                    <th style="text-align:center;" title="Time of RSO Pass End">T_end</th>
                    <th style="text-align:center;" title="Elevation in Culmination">H<sub>c</sub></th>
                    <th style="text-align:center;" title="Priority">Pri</th>
                    <th style="text-align:center;" title="Plot Pass">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for pas in passes %}
                <tr style="font-size: 12px">
                    <td>{{ pas.name }}</td>
                    <td>{{ pas.norad }}</td>
                    <td>{{ pas.ts.utc_datetime().strftime("%Y-%m-%d") }}</td>
                    <td>{{ pas.ts.utc_datetime().strftime("%H:%M:%S") }}</td>
                    <td>{{ pas.te.utc_datetime().strftime("%H:%M:%S") }}</td>
                    <td>{{ '%.2f' % (pas.alt | map('float') | max) }}</td>
                    <td>{{ pas.priority }}</td>
                    <td>
                        <button class="select-pass-btn"
{#                                style="font-size: 12px; padding: 10px 10px; background-color: #4CAF50; color: white; border: none; border-radius: 5px; cursor: pointer;"#}
                                style="font-size: 12px; padding: 2px 5px; background-color: #4CAF50; color: white; border: none; border-radius: 5px; cursor: pointer;"
                                data-azimuths='{{ pas.az }}'
                                data-elevations='{{ pas.alt }}'
                                data-sunlit='{{ pas.sunlighted }}'
                                data-name='{{ pas.name }}'
                                data-norad='{{ pas.norad }}'
                                data-start='{{ pas.ts.utc_datetime().strftime("%Y-%m-%d %H:%M:%S") }}'
                                data-end='{{ pas.te.utc_datetime().strftime("%H:%M:%S") }}'
                                data-moon='{{ pas.moon }}'
                                data-phase='{{ pas.moon_phase }}'
                                data-sun_el="{{ pas.sun_alt }}"
                        >
                            View Plot
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Порожній SkyPlot -->
    <div id="skyplot" style="width: 80%; height: 80%; margin-top: 20px;"></div>
</div>

<script type="text/javascript" src="{{url_for('static', filename='js/plotly-2.35.2.min.js')}}"></script>
<script>
    // Функція для створення порожнього SkyPlot
    function createEmptyPlot() {
        const emptyData = {
            type: 'scatterpolar',
            mode: 'markers',
            r: [null], // Порожні дані
            theta: [null],
            marker: {
                color: 'white',
                size: 3
            },
            line: {
                color: 'white',
                width: 2
            }
        };

        const layout = {
            title: {
                text: 'Skyplot (No Data)',
                font: { color: 'white', size: 14 },
                y: 0.95,
                x:0
            },
            margin: {
                    l: 10, // Лівий відступ
                    r: 10, // Правий відступ
                    t: 30, // Верхній відступ
                    b: 30  // Нижній відступ
                },
            paper_bgcolor: 'black',
            polar: {
                angularaxis: {
                    direction: "clockwise",
                    rotation: 90,
                    gridcolor: 'white',
                    showgrid: true,
                    tickcolor: 'white',
                    tickfont: { color: 'white' }
                },
                radialaxis: {
                    range: [0, 90],
                    gridcolor: 'green',
                    tickcolor: 'white',
                    tickfont: { color: 'white' },
                    tickvals: [0, 15, 30, 50, 70, 90],
                    ticktext: ['90', '75', '60', '40', '20', '0'],
                    showticklabels: true
                },
                bgcolor: 'black'
            },
            showlegend: false
        };

        const config = {
            displaylogo: false,
            modeBarButtonsToRemove: ['toImage']
        };

        Plotly.newPlot('skyplot', [emptyData], layout, config);
    }

    // Створення порожнього графіка при завантаженні
    createEmptyPlot();

    // Оновлення SkyPlot після натискання кнопки
    document.querySelectorAll('.select-pass-btn').forEach(button => {
        button.addEventListener('click', () => {
            const azimuths = JSON.parse(button.getAttribute('data-azimuths'));
            const elevations = JSON.parse(button.getAttribute('data-elevations'));
            const sunlit = JSON.parse(button.getAttribute('data-sunlit'));
            const name = button.getAttribute('data-name');
            const norad = button.getAttribute('data-norad');
            const start = button.getAttribute('data-start');
            const end = button.getAttribute('data-end');

            const moon = JSON.parse(button.getAttribute('data-moon')); // Позиція Місяця
            const moon_az = moon[1];
            const moon_el = 90 - moon[0]; // Перетворення висоти
            const moon_phase = parseFloat(button.getAttribute('data-phase')).toFixed(1); // Фаза Місяця

            const sun_el = parseFloat(button.getAttribute('data-sun_el')).toFixed(2);

            const markerColors = sunlit.map(isSunlit => isSunlit === 1 ? 'white' : '#ff0202');
            const rValues = elevations.map(elevation => 90 - elevation);

            const el = rValues.map(elevation => 90 - elevation);


            // Дані для початкової точки
            const startPoint = {
                type: 'scatterpolar',
                mode: 'text',
                r: [rValues[0]], // Радіальна координата для початку
                theta: [azimuths[0]], // Кутова координата для початку
                text: ['b'], // Позначка 'b'
                textposition: 'top center',
                textfont: {
                    color: 'white', // Білий колір тексту
                    size: 12
                },
                showlegend: false
            };

            // Дані для кінцевої точки
            const endPoint = {
                type: 'scatterpolar',
                mode: 'text',
                r: [rValues[rValues.length - 1]], // Радіальна координата для кінця
                theta: [azimuths[azimuths.length - 1]], // Кутова координата для кінця
                text: ['e'], // Позначка 'e'
                textposition: 'top center',
                textfont: {
                    color: 'white', // Білий колір тексту
                    size: 12
                },
                showlegend: false
            };

             // Дані для позиції Місяця
            const moonPoint = {
                type: 'scatterpolar',
                mode: 'markers+text',
                r: [moon_el], // Радіальна координата Місяця
                theta: [moon_az], // Кутова координата Місяця
                text: ['Moon'], // Позначка "Moon"
                // moon caption delete
                hoverinfo: 'theta+r',
                hovertemplate: '<extra></extra>', // Кастомна підказка
                {#customdata: rValues.map(r => 90 - r), // Обчислюємо 90 - r для кожної точки#}
                textposition: 'top center',

                textfont: {
                    color: 'white',
                    size: 12
                },
                marker: {
                    color: '#FFD700', // Золотий колір для Місяця
                    size: 12
                },
                showlegend: false
            };

            const polarData = {
                type: 'scatterpolar',
                mode: 'markers',
                r: rValues,
                theta: azimuths,
                el: el,
                hoverinfo: 'theta+r',
                hovertemplate: 'El: %{customdata:.2f}<br>Az: %{theta:.2f} <extra></extra>', // Кастомна підказка
                customdata: rValues.map(r => 90 - r), // Обчислюємо 90 - r для кожної точки
                marker: {
                    color: markerColors,
                    size: 2
                },
                line: {
                    color: 'white',
                    width: 2
                }
            };

            const layout = {
                title: {
                    text: `Satellite Name: ${name}<br>NORAD: ${norad}`,
                    font: { color: 'white', size: 14 },
                    {#y: 0.95,#}
                    y:0.95,
                    {#automargin:true,#}
                    x:0,
                    xanchor: 'left'
                },
                margin: {
                    l: 10, // Лівий відступ
                    r: 10, // Правий відступ
                    t: 30, // Верхній відступ
                    b: 30  // Нижній відступ
                },
                annotations: [
                    // Start Stop Title
                    {
                        x: 0.0, // початок
                        y: -0.05, //-0.25, // Нижче графіка
                        text: `${start} - ${end}`,
                        showarrow: false,
                        font: {
                            color: 'white',
                            size: 14
                        },
                        xref: 'paper', // Прив'язка до графіка
                        yref: 'paper'  // Прив'язка до графіка
                    },

                    //Sun title
                    {
                        x: 1.0, // кінець
                        y: -0.05, //низ графіка
                        text: `Sun alt:${sun_el}`,
                        showarrow: false,
                        font: {
                            color: 'white',
                            size: 14
                        },
                        xref: 'paper', // Прив'язка до графіка
                        yref: 'paper'  // Прив'язка до графіка
                    },

                    //Moon title
                    {
                        x: 1.0, // кінець
                        y: 1.0, //Верх графіка
                        text: `Moon: ${moon_phase} % <br>Az:${moon_az.toFixed(2)} <br> El:${(90.0-moon_el).toFixed(2)}`,
                        showarrow: false,
                        font: {
                            color: 'white',
                            size: 14
                        },
                        xref: 'paper', // Прив'язка до графіка
                        yref: 'paper'  // Прив'язка до графіка
                    }
                ],
                paper_bgcolor: 'black',
                polar: {
                    angularaxis: {
                        direction: "clockwise",
                        rotation: 90,
                        gridcolor: 'white',
                        tickcolor: 'white',
                        tickfont: { color: 'white' }
                    },
                    radialaxis: {
                        range: [0, 90],
                        gridcolor: 'green',
                        tickcolor: 'white',
                        tickfont: { color: 'white' },
                        tickvals: [0, 15, 30, 50, 70, 890],
                        ticktext: ['90', '75', '60', '40', '20', '0'],
                        showticklabels: true
                    },
                    bgcolor: 'black'
                },
                showlegend: false
            };

            const config = {
                responsive: true, // Адаптація розміру
                displaylogo: false,
                modeBarButtonsToRemove: ['toImage']
            };

            Plotly.newPlot('skyplot', [polarData, startPoint, endPoint, moonPoint], layout, config);
        });
    });
</script>


<script>
    // Ініціалізація DataTable для зручності
    $(document).ready(function () {
        $('#sat_passes').DataTable(
            {
                scrollY: '400px', // Максимальна висота таблиці
                scrollCollapse: true, // Дозволяє стискати таблицю, якщо рядків мало
                paging: false, // Вимикає пагінацію
                searching: false, // Вимикає пошук
                order: [
                    [6, 'dsc'], // Сортування за колонкою Priority (індекс 4) за зростанням
                    [2, 'asc'], // Date sort
                    [3, 'asc']  // Сортування за колонкою T_start (індекс 3) за зростанням
                ]
            }
        );
    });
</script>
{% endblock %}
