{% extends 'base.html' %}
        {% block content %}
        <div id="contacts">
        <img src="{{url_for('static', filename='obs_logo_small.svg') }}"
                    width="350" height="420" alt="" />
            <h2>Contact:</h2>
{#            <p>#}
            <!--<ul>-->
                <p>Ukraine</p>
                <p>Uzhhorod, 88000</p>
                <p>st. Daleka 2а</p>
{#            <a href = "mailto: abc@example.com">Send Email</a>#}
                <p>e-mail:<a href="mailto:lab-space@uzhnu.edu.ua">lab-space@uzhnu.edu.ua</a></p>
            <!--</ul>-->
{#            </p>#}
        </div>
        {% endblock %}