{% extends 'base.html' %}
        {% block content %}
            <script type="text/javascript">
            function confirmAction(){
                  var confirmed = confirm("Are you sure? This will remove EB system from database");
                  return confirmed;
            }
            </script>
{#            <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>#}
{#            <script src="{{url_for('static', filename='js/sorttable.js')}}"> </script>#}

            <br>

            <table id="eb_table"
{#                   style="width:100%; margin-right: auto; margin-left: auto; border-collapse: collapse;"#}
                   class="display"
                   style="width:100%; margin-right: auto; margin-left: auto; border-collapse: collapse;">

                <thead>
                  <tr>
                      <th style="text-align:center;">EB Name</th>
                      <th style="text-align:center;">Period</th>
                      <th style="text-align:center;">Epoch</th>
                      <th style="text-align:center;">mag</th>
                      <th style="text-align:center;">Rise</th>
                      <th style="text-align:center;">Pass</th>
                      <th style="text-align:center;">Details</th>
                      {% if user.is_admin %}
                          <th style="text-align:center;">Remove</th>
                      {% endif %}
                  </tr>
                </thead>


                </table>
<br>
{#            show add EB button#}
  {% if user.is_admin %}
      <div style="border-collapse: collapse; margin: 0; text-indent: 0ch; text-align:center">
        <details>
          <summary>Add EB system</summary>
            <form method="Post" action="">
{#                {{ eb_form.hidden_tag() }}#}
                {{ eb_form.csrf_token }}
                <p style="line-height:10px; display: inline-block;"> Name </p>
                {{ eb_form.name }} <br>
                <p style="line-height:10px; display: inline-block;"> Period</p>
                {{ eb_form.period }} <br>
                <p style="line-height:10px; display: inline-block;"> Epoch  </p>
                {{ eb_form.epoch }} <br>

                <p style="line-height:10px; display: inline-block;"> RA &nbsp&nbsp&nbsp&nbsp </p>
                {{ eb_form.ra }} <br>
                <p style="line-height:10px; display: inline-block;"> DEC  &nbsp</p>
                {{ eb_form.dec }} <br>
                <p style="line-height:10px; display: inline-block;"> Mag  &nbsp&nbsp</p>
                {{ eb_form.mag }} <br>
                {{ eb_form.submit }}
            </form>
        </details>
      </div>
  {% endif %}
<br>

<p style="border-collapse: collapse; margin: 0; text-indent: 0ch; text-align:center">Table Legend:</p>
<table style="width:100%; margin-right: auto; margin-left: auto; border-collapse: collapse;">
        <colgroup>
            <col span="1" style="width: 15em;">
            <col span="1" style="width: 15em;">
            <col span="1" style="width: 15em;">
        </colgroup>
    <tr>
        <td style="text-align:center; background-color:rgba(20, 50, 0, 50);"> Object in Work </td>
          <td style="text-align:center; background-color:rgba(100, 0, 0, 50);"> Object Done </td>
          <td style="text-align:center"> No Observations Yet </td>
    </tr>
</table>

<br>
{% if user.is_admin  and eb_form.errors|length %}
<p style="line-height:10px;"> Error message: </p>
{% for field, errors in eb_form.errors.items() %}
<div class="alert alert-error" style="background-color:rgba(100, 0, 0, 50);">
    {{ eb_form[field].label }}: {{ ', '.join(errors) }}
</div>
{% endfor %}
{% endif %}


<script type="text/javascript">
    var csrf_token = "{{ csrf_token() }}";
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });

    $(document).ready(function() {
        var empDataTable = $('#eb_table').DataTable({
        'processing': true,
        'serverSide': true,
        'serverMethod': 'post',
        'ajax': {
            'url':'/ajax_eb'
        },
        paging: true,
        ordering: true,
        searching: true,
        sort: true,
        'lengthMenu': [[15, 30, 45, -1], [15, 30, 45, "All"]],
        info: true,
        order: [[4, 'asc']],
        'columns': [
            { data: 'eb_name', "width": "20%" },
            { data: 'period', "width": "10%"},
            { data: 'epoch', "width": "15%" },
            { data: 'mag', "width": "5%" },
            { data: 'rise', "width": "20%"},
            { data: 'pass', "width": "20%" },
            { data: 'details', "width": "5%"},
            { data: 'remove', "width": "5%",
                {% if not user.is_admin  %}
                    visible: false
                {% endif %}
            },
            { data: 'done',
                visible: false,
                searchable: false},
            { data: 'work',
                visible: false,
                searchable: false}
        ],
        "rowCallback": function( row, data) {
            if (data["done"] == "True") {
                $('td', row).css('background-color',
                'rgba(100, 0, 0, 50)');
          }
            if (data["work"] == "True") {
                $('td', row).css('background-color',
                'rgba(20, 50, 0, 50)');
          }
        },

        });
    });
</script>

{% endblock %}