{% extends 'base.html' %}
        {% block content %}
                <div id="post12" style="width:100%; margin-right: auto; margin-left: auto; text-align: center;" >
                    <br>
                    <h2>Details of Satellite
                        <br>NORAD={{lc.sat.norad}}, COSPAR={{lc.sat.cospar }}, NAME={{lc.sat.name }}
                        <br>LC start time = {{lc.ut_start }},
                        <br>Filter={{ lc.band }}, dt={{ lc.dt }}, Observatory={{ lc.site }}
                    </h2>

{# Period update FORM #}
      {% if user.sat_access and user.is_admin%}
{#      https://www.freecodecamp.org/news/how-to-center-anything-with-css-align-a-div-text-and-more/ #}
      <div style="width: 80%;
            display: flex;
            justify-content:center;
            align-items:center;
            {#outline: dashed 4px black;#}
            text-align:center;
            max-width: 820px; margin-left: auto; margin-right: auto;">

{#            <summary>Add lightcurves to DataBase</summary>#}
            <form method="Post" action="">
                {{ per_form.hidden_tag() }}
{#                {{ per_form.csrf_token() }}#}
                <p style="line-height:10px; display: inline-block;"> New Period Value: </p>
                {{ per_form.per_input(style="width:100px;") }}
{#                <br>#}

                {{ per_form.add }}
            </form>

      </div>
  {% endif %}
{# ########## #}

{#                    <script type="text/javascript" src="{{url_for('static', filename='js/d3.v5.js')}}"></script>#}
{#                    <script type="text/javascript" src="{{url_for('static', filename='js/mpld3.v0.5.8.js')}}"></script>#}

{#                    <img class="aligncenter" src="{{ url_for('static', filename=lc_graph).replace('tmp_sat%5C', 'tmp_sat/') }}"#}
{#                    width="800" height="500" alt="" />#}

                    <div style="width:800px; margin-right: auto; margin-left: auto; border-collapse: collapse;">
                        {{ lsp_graph | safe}}
                    </div>

                    {% if ph_graph is not none %}
                    <br>
                        {%  for phx in  ph_graph%}
                            <div style="width:800px; margin-right: auto; margin-left: auto; border-collapse: collapse;">
                                {{ phx | safe}}
                            </div>
                        {% endfor %}
                    {% else %}
                        <br>
                        <p> No Period defined, cant create Phased Curve </p>
                    {% endif %}

                </div>
                <br class="clearfix" />


{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li style="color:red">{{ message|safe }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endwith %}


        {% endblock %}