{% extends 'base.html' %}
        {% block content %}
<div style="display: flex; justify-content: center; align-items: center; height: 100vh; background-color: black;">
    <div id="skyplot" style="width: 80%; height: 80%;"></div>
</div>

{#<script src="https://cdn.plot.ly/plotly-2.18.1.min.js"></script>#}
{#<script src='https://cdn.plot.ly/plotly-2.35.2.min.js'></script>#}
<script type="text/javascript" src="{{url_for('static', filename='js/plotly-2.35.2.min.js')}}"></script>

<script>
    // Отримання даних із сервера
    const data = {{ data | tojson }};
    const azimuths = data.az; // Азимути [0, 360]
    const elevations = data.alt; // Висоти [0, 90]
    const times = data.time;

    // Конвертація даних у полярну систему координат
    const polarData = {
        type: 'scatterpolar',
        mode: 'lines+markers', // Лінії + точки
        r: elevations.map(elevation => 90 - elevation), // Висоти, де 90 - в центрі
        theta: azimuths, // Азимути [0, 360]
        text: times, // Текст для кожної точки
        hoverinfo: 'text+theta+r', // Інформація при наведенні
        marker: {
            color: 'white',
            size: 8
        },
        line: {
            color: 'white',
            width: 2
        }
    };

    // Налаштування графіка
    {#https://plotly.com/javascript/polar-chart/#}
    const layout = {
        title: {
            text: 'Skyplot (Azimuth [0°-360°] vs Elevation)',
            font: { color: 'blue' }
        },
        polar: {
            angularaxis: {
                direction: "clockwise", // Напрямок за годинниковою стрілкою
                rotation: 90, // Початок осі — північ (90°)
                gridcolor: 'white', // Колір ліній азимутів
                tickcolor: 'white',
                tickfont: { color: 'white' }
            },
            radialaxis: {
                range: [0, 90], // Висоти у діапазоні [0, 90]
                gridcolor: 'white', // Колір концентричних кіл
                tickcolor: 'white',
                tickfont: { color: 'white' },
                tickvals: [0,     15,   30,   50,   70,   90], // Позначення на радіальній осі
                ticktext: ['90', '75', '60', '40', '20', '0'], // Логіка, де 90 в центрі
                showticklabels: true
            },
            bgcolor: 'black' // Чорний фон
        },
        showlegend: false // Без легенди
    };

    // Рендеринг графіка
    Plotly.newPlot('skyplot', [polarData], layout);
</script>




{% endblock %}