{% extends 'base.html' %}
{% block content %}



{#{% if sat_search is defined and sat_search != None and sat_search.get_lcs()|length %}#}
{% if sat_search is defined and sat_search != None %}
<br>
    <div style="text-align: center;">
        <p style="text-align:left;margin:0 auto;display: inline-block;">
            Satellite NORAD=<b>{{sat_search.norad }}</b>,
            COSPAR=<b>{{sat_search.cospar }}</b>,
            NAME=<b>{{sat_search.name }}</b>
        </p>
    <br>

<label for="multi_ckbox">Plot multiple LCs </label>
{% if chckb == True %}
    <input id="multi_ckbox" type="checkbox" checked onchange="multi_ajaxRequest()" />
{% else %}
    <input id="multi_ckbox" type="checkbox" onchange="multi_ajaxRequest()" />
{% endif %}

    </div>
        <div id="lc_table" style="width:80%; max-width: 1100px; margin-right: auto; margin-left: auto">
         <table id="sat_lc" class="display" style="width:100%;" >
            <thead>
              <tr>
                  <th style="text-align:center;">DateTime Start (UT)</th>
                  <th style="text-align:center;">Filter</th>
                  <th style="text-align:center;">dt</th>
                  <th style="text-align:center;">Len (sec)</th>
                  <th style="text-align:center;">Observer</th>
                  <th style="text-align:center;">Period</th>
                  <th style="text-align:center;">LC</th>
                  <th style="text-align:center;">LSP</th>
                  <th style="text-align:center;">DL</th>
              </tr>
            </thead>
{#                {% for lc in sat_search.get_lcs() %}#}
{#                          <tr style="line-height: 15px">#}
{#                            <td style="text-align:center;"> {{ lc.ut_start }}</td>#}
{#                            <td style="text-align:center;"> {{ lc.band }} </td>#}
{#                              <td style="text-align:center">#}
{#                              <a href="{{url_for('sat.sat_lc_plot', lc_id=lc.id) }}"> LC plot </a>#}
{#                              </td>#}
{#                          </tr>#}
{##}
{#                {% endfor %}#}
         </table>
        </div>
{% endif %}



{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li style="color:red">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endwith %}

{#    <script type="text/javascript">#}
{#    $(document).ready(function () {#}
{#    $('#sat_lc').DataTable({#}
{#        paging: true,#}
{#        ordering: true,#}
{#        info: true,#}
{#        fixedColumns:   {#}
{#            heightMatch: 'none'#}
{#        }#}
{#        });#}
{#    });#}
{#    </script>#}

    <script>
        var csrf_token = "{{ csrf_token() }}";
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });


    $(document).ready(function() {
    var empDataTable = $('#sat_lc').DataTable({
                'processing': true,
                'serverSide': true,
                'serverMethod': 'post',
                'ajax': {
                    'url':'/ajaxfile_lc/{{ sat_search.id }}'
                },
                'lengthMenu': [[10, 25, 50, -1], [10, 25, 50, "All"]],
                searching: true,
                sort: true,
                order: [[0, 'desc']],
                'columns': [
                    { data: 'ut_start' },
                    { data: 'filter' },
                    { data: 'dt' },
                    { data: 'N' },
                    { data: 'site'},
                    { data: 'period', orderable: false, render: $.fn.dataTable.render.number(',', '.', 3, '') },
                    { data: 'curve', orderable: false  },
                    { data: 'lsp', orderable: false  },
                    { data: 'dl', orderable: false  },
                ]
            });
    });
    </script>

    <script>
    function multi_ajaxRequest() {
      const check_state = document.getElementById("multi_ckbox").checked;
      console.log("Sending data to the server that the checkbox is", check_state);

      {#https://stackoverflow.com/questions/41323679/how-to-send-data-to-flask-via-ajax#}

        $.ajax({
            url: '/ajax_checkbox_state',
            type: 'POST',
            data: {'state': check_state},
            dataType: 'json',
            success: function(response){
                console.log(response);
                },
            error: function(error){
                console.log(error);
                }
        })

    }
    </script>

{% endblock %}