{% extends 'base.html' %}
        {% block content %}
                <div id="post12" style="width:100%; margin-right: auto; margin-left: auto; text-align: center;" >
                    <br>
                    <h2>Details of Satellite
                        <br>NORAD={{lc.sat.norad}}, COSPAR={{lc.sat.cospar }}, NAME={{lc.sat.name }}
                        <br>LC start time = {{lc.ut_start }},
                        <br>Filter={{ lc.band }}, dt={{ lc.dt }}, Observatory={{ lc.site }}
                    </h2>

{#                    <script type="text/javascript" src="{{url_for('static', filename='js/d3.v5.js')}}"></script>#}
{#                    <script type="text/javascript" src="{{url_for('static', filename='js/mpld3.v0.5.8.js')}}"></script>#}

{#                    <img class="aligncenter" src="{{ url_for('static', filename=lc_graph).replace('tmp_sat%5C', 'tmp_sat/') }}"#}
{#                    width="800" height="500" alt="" />#}
                    <div style="width:800px; margin-right: auto; margin-left: auto; border-collapse: collapse;">
                        {{ lc_graph | safe}}
                    </div>

                    <br>

{#                    <div style="width:800px; margin-right: auto; margin-left: auto; border-collapse: collapse;">#}
{#                        {{ lsp_graph | safe}}#}
{#                    </div>#}

                </div>
                <br class="clearfix" />
        {% endblock %}